<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Valeria Quemain | Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="images/VMQC.png" />
</head>

<body>
  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="images/VMQC.png" alt="VQ" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="images/profile-pic.jpeg" alt="VMQC" class="profile-pic nav-link" />
              <span class="caption nav-link">Valeria Quemain</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Información Personal</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Estudios y Experiencia Laboral</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Programas y Voluntariados</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Referencias</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h3>Valeria Quemain </h3>
          <h3>|Estudiante de Ingeniería de Negocios|</h3>
          <p>Deportista y amante del voluntariado</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Ver Referencias</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">Mis Programas y Voluntariados</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="images/profile-pic.jpeg" alt="Chaoo Charles" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hola 👋🏽</h2>
          <p>
            Mi nombre es Valeria Quemain y estudio tercer año de Ingeniería de Negocios en la ESEN.
            Desde muy joven me apasionan los números y me desempeño bien en dicha área; soy una persona analítica y
            responsable. En mi tiempo libre busco realizar actividades de voluntariado, cursos de mi interés y
            tener tiempo de calidad con mi familia.
          </p>
          <p>
            ¡Gracias por visitar mi perfil!
          </p>
        </div>
      </div>
      <hr />
    </section>
    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>ESTUDIOS Y EXPERIENCIA LABORAL</h2>
          <p>
            - Escuela Superior de Economía y Negocios (ESEN)
          <p>
            <a href="#">Ingeniería de Negocios (2019-actualidad)</a>
          </p>

          </p>
          <p>
            - Colegio "La Sagrada Familia"
          <p>
            <a href="#">Educación básica, tercer ciclo y bachillerato (2008-2018)</a>
          </p>

          </p>
        </div>
    </section>
    <section id="projects" class="projects">
      <div class="title-heading">
        <hr>
        </hr>
        <h2>PROGRAMAS Y VOLUNTARIADOS</h2>
        <p>Estas son algunas de las organizaciones y programas a los que he asistido:</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="images/aiesec.jpg" />
        </div>
        <div class="project-description">
          <h2>AIESEC en El Salvador</h2>
          <p>
            Desde el febrero de 2019 hasta febrero de 2021, formé parte de una red mundial de jóvenes
            que buscan potenciar el desarrollo de liderazgo alrededor del mundo. Especificamente, trabaje con el
            comité de ESEN y me destaqué como una de las mejores miembros a lo largo de mi carrera y a su vez
            pude aplicar a diversos roles de liderazgo a nivel nacional.
          </p>
          <a href="https://aiesec.org/"> AIESEC Site </i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Becaria de la tercera generación del programa Liderazgo Innovador</h2>
          <p>
            En 2019 fui acreedora de una beca para el programa LiderIn, el cual busca formar lideres a nivel nacional
            mediante una serie de ponencias y actividades enfocadas en diversos ejes temáticos que generan oportunidades
            de crecimiento en los jóvenes.
          </p>

        </div>
        <div class="project-img">
          <img src="images/liderin 3.0.jpeg" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="images/girlup.jpeg" />
        </div>
        <div class="project-description">
          <h2>Girl Up ESEN</h2>
          <p>
            Desde 2020 formo parte de grupo de voluntarios de Girl Up ESEN, una organización enfocada en el
            empoderamiento
            de la mujer en la sociedad y que busca dar a conocer temáticas de relevancia para el progreso y por la lucha
            de los derechos de la mujer.
          </p>
          <a href="https://girlup.org/"> Girl Up Site</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Voluntaria de LiderIn 4.0</h2>
          <p>
            En vista del increíble conocimiento que me brindó ser parte de los becarios de LiderIn,
            decidí formar parte del grupo de voluntarios para organizar y llevar acabo la cuarta edición del
            programa, totalmente en línea. Desde la coordinación académica velamos por el constante aprendizaje de los
            becarios y por la ejecución de las jornadas enfocadas en los 9 ejes temáticos del programa.
          </p>
        </div>
      </div>
      <div class="project-img">
        <img src="images/liderin4.0.jpeg" />
      </div>
      <hr>
      </hr>
    </section>
    <section id="contact" class="contact">
      <h2>REFERENCIAS</h2>
      <p>
        -Tania Serrano (VicePresidente de Recursos Humanos 20.21, AIESEC en ESEN)
      </p>
      <p>
        -Julio Cañas (Coordinador y fundador del programa LiderIn)
      </p>
    </section>
    <hr>
    </hr>
    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home -</a>
        <a href="#about" class="footer-nav-link">Mi Información -</a>
        <a href="#services" class="footer-nav-link">Referencias -</a>
        <a href="projects" class="footer-nav-link">Cursos y Voluntariados -</a>
        <a href="#contact" class="footer-nav-link">Contacto</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i></i> Mi contacto: valeriaquemain@gmail.com💙
        </p>
        <p>"Un viaje muy largo se inicia con un solo paso..."</p>
      </div>
    </footer>
  </main>
  <script src="main.js"></script>
</body>

</html>